body {
  background-color: #2b2e35;
}

a {
  text-decoration: none;
  color: white;
}

.v-list-item--active .v-list-item__prepend > .v-icon{
  color: white
}

.v-navigation-drawer__content hr{
  color: white;
}

hr{
  color: #FFD54F;
}

.navbar {
  background-color: #212121;
  max-width: fit-content;
  padding: 1rem;
  border-radius: 10%;
  box-shadow: #323232 2px 2px 15px;
}

.v-card{
  padding: 0rem 1rem;
  box-shadow: #15171a 7px 8px 5px;
  border-radius: 15px;
}

.title-view{
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}


.lang-icon{
  max-width: 30px;
  margin-right: 1rem;
  cursor: pointer;
}